<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container-body">

        <div class="container__titulo">

            <p class="titulo">Inmersion Games</p>
            <br><br>

        </div>

        <div class="container__informacion">

            <p class="container__nosotros">Sobre Nosotros</p>

            <p>Bienvenido. Aqui podras descargar juegos para tu emulador favorito PSX, PS2, PS3, PSP,
                 NDS, NINTENDO WII, NINTENDO SWITCH y muchos mas en Español y gratis ...</p>

        </div>

        <div class="container__relacionadas">

            <p class="container__paginas">Paginas Relacionadas</p>

            <ul>
                <li><a href="https://cemu.info/">cemu.info</a></li>
                <li><a href="https://pcsx2.net/">pcsx2.net</a></li>
                <li><a href="http://desmume.org/">desmume.org</a></li>
                <li><a href="https://www.ppsspp.org/">ppsspp.org</a></li>

            </ul>

        </div>

        <div class="container__copyright">

            <p class="copyright">Copyright 2022 - Inmersion Games</p>
        </div>

    </div>
    
</body>
</html>

