<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Bootstrap CSS v5.0.2 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100&family=Lato:wght@100;400&family=Libre+Baskerville:ital@0;1&family=Permanent+Marker&family=Work+Sans&display=swap" rel="stylesheet">


</head>
<body>

<div class="container-body">

  <!-- Etiqueta de los Ultimos Juegos Agregados-->
  <div class="ultimos__agregados">

    <p>Ultimos Juegos Agregados</p>

  </div>

  <!-- Botones de Movimiento-->
  <div class="slider__btn slider__btn--right btn-outline-success" id="btn-right" (click)="moveRight()">&#62;</div>
  <div class="slider__btn slider__btn--left btn-outline-success" id="btn-left" (click)="moveLeft()">&#60;</div>

  <!-------------------------->
  
  <div class="container-slider">

    <div class="slider" id="slider">

      <div class="slider__section">

        <a href="#">

          <img class="slider__img" src="./assets/imagenes/juegos_nintendo/nintendo_ds/caratula-mario-y-luigi-bowser.png" alt="Card image cap">

        </a>

      </div>

      <div class="slider__section">

        <a href="#">

          <img class="slider__img" src="./assets/imagenes/juegos_playstation/ps1/bugsytaz.jpg" alt="Card image cap">

        </a>

      </div>

      <div class="slider__section">

        <a href="#">

          <img class="slider__img" src="./assets/imagenes/juegos_nintendo/nintendo_ds/zelda.jpg" alt="Card image cap">

        </a>

      </div>

      <div class="slider__section">

        <a href="#">

          <img class="slider__img" src="./assets/imagenes/juegos_playstation/ps2/black.png" alt="Card image cap">

        </a>

      </div>

      <div class="slider__section">

        <a href="#">

          <img class="slider__img" src="./assets/imagenes/juegos_nintendo/nintendo_ds/mario.jpg" alt="Card image cap">

        </a>

      </div>

      <div class="slider__section">

        <a href="#">

          <img class="slider__img" src="./assets/imagenes/juegos_nintendo/nintendo_ds/mario-party.jpg" alt="Card image cap">

        </a>

      </div>

      

      <div class="slider__section">

        <a href="#">

          <img class="slider__img" src="./assets/imagenes/juegos_playstation/ps1/bugs.jpg" alt="Card image cap">

        </a>

      </div>

      <div class="slider__section">

        <a href="#">

          <img class="slider__img" src="./assets/imagenes/juegos_playstation/ps2/godofwar2.jpg" alt="Card image cap">

        </a>

      </div>
    
    </div>

  </div>

  <div class="container__titulos">

      <p class="titulos_juegos">PLAYSTATION 1</p>
      
  </div>

  <!-- Tabla de los juegos de Playstation 1-->
  <table class="table__games">
    <tr>
      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__img" src="./assets/imagenes/juegos_playstation/ps1/bugs.jpg">

          </a>

        </div>

        <div class="container__descripcion">

          <a href="#">

            Bugs Bunny Perdido En El Tiempo [PS1] [ESPAÑOL] [MEDIAFIRE]

          </a>

          <div class="container__calendario">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            4 May / <a href="#">2 comentarios</a>

          </div>

        </div>

      </td>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__img" src="./assets/imagenes/juegos_playstation/ps1/bugsytaz.jpg">      

          </a>

        </div>

        <div class="container__descripcion">
          
          <a href="#">

            Bugs Bunny y Taz En El Espiral Del Tiempo [PS1] [ESPAÑOL] [MEGA]

          </a>

          <div class="container__calendario">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            5 Sep / <a href="#">4 comentarios</a>

          </div>
      
        </div>

      </td>

    </tr>

    <tr>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__img" src="./assets/imagenes/juegos_playstation/ps1/crash_3.jpg">

          </a>

        </div>

        <div class="container__descripcion">

          <a href="#">

            Crash Bandicoot 3: Warped [PS1] [ESPAÑOL] [MEGA]

          </a>

          <div class="container__calendario__2">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            8 Jul / <a href="#">0 comentarios</a>

          </div>

        </div>

      </td>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__img" src="./assets/imagenes/juegos_playstation/ps1/resident_evil_2.png">       

          </a>

        </div>

        <div class="container__descripcion">
          
          <a href="#">

            Resident Evil 2 [PS1] [ESPAÑOL] [MEDIAFIRE]

          </a>

          <div class="container__calendario__2">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            18 Jul / <a href="#">3 comentarios</a>

          </div>
      
        </div>

      </td>
    </tr>
  </table>

   

  <br><br>

  <div class="container__titulos">

    <p class="titulos_juegos">PLAYSTATION 2</p>
    
  </div>

  <!-- Tabla de los juegos de PlayStation 2  -->
  <table class="table__games">
    <tr>
      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__2__img" src="./assets/imagenes/juegos_playstation/ps2/black.png">

          </a>

        </div>

        <div class="container__descripcion">

          <a href="#">

            Black [PS2] [MULTI] [TORRENT]

          </a>

          <div class="container__calendario__ps2">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            2 May / <a href="#">8 comentarios</a>

          </div>

        </div>

      </td>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__2__img" src="./assets/imagenes/juegos_playstation/ps2/godofwar2.jpg">      

          </a>

        </div>

        <div class="container__descripcion">
          
          <a href="#">

            God Of War 2 [PS2] [MULTI] [MEDIAFIRE]

          </a>

          <div class="container__calendario__ps2">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            15 May / <a href="#">1 comentario</a>

          </div>
      
        </div>

      </td>

    </tr>

    <tr>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__2__img" src="./assets/imagenes/juegos_playstation/ps2/shadow_of_the_colossus.jpg">
     
          </a>

        </div>

        <div class="container__descripcion">

          <a href="#">

            Shadow Of The Colossus [PS2] [MULTI] [MEGA]

          </a>

          <div class="container__calendario__ps2">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            15 Ago / <a href="#">4 comentarios</a>

          </div>

        </div>

      </td>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__2__img" src="./assets/imagenes/juegos_playstation/ps2/spartan.jpg">      

          </a>

        </div>

        <div class="container__descripcion">
          
          <a href="#">

            Spartan Total Warrior [PS2] [MULTI] [TORRENT]

          </a>

          <div class="container__calendario__ps2">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            2 Ene / <a href="#">3 comentarios</a>

          </div>
      
        </div>

      </td>
    </tr>
  </table>

  <br><br>

  <div class="container__titulos">

    <p class="titulos_juegos">NINTENDO DS</p>
    
  </div>

  <!-- Tabla de los juegos de Nintendo DS  -->
  <table class="table__games">
    <tr>
      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__img" src="./assets/imagenes/juegos_nintendo/nintendo_ds/mario-party.jpg">

          </a>

        </div>

        <div class="container__descripcion">

          <a href="#">

            Mario Party DS [NDS] [MULTI] [MEGA]

          </a>

          <div class="container__calendario__2">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            15 Nov / <a href="#">6 comentarios</a>

          </div>

        </div>

      </td>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__img" src="./assets/imagenes/juegos_nintendo/nintendo_ds/zelda.jpg">      

          </a>

        </div>

        <div class="container__descripcion">
          
          <a href="#">

            The Legend Of Zelda Spirit Tracks [NDS] [MULTI] [ZIPPYSHARE]

          </a>

          <div class="container__calendario">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            15 Jun / <a href="#">0 comentarios</a>

          </div>
      
        </div>

      </td>

    </tr>

    <tr>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__img" src="./assets/imagenes/juegos_nintendo/nintendo_ds/mario.jpg">

          </a>

        </div>

        <div class="container__descripcion">

          <a href="#">

            Mario Kart DS [DS] [ESPAÑOL] [MEGA]

          </a>

          <div class="container__calendario__2">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            7 May / <a href="#">4 comentarios</a>

          </div>

        </div>

      </td>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__playstation__img" src="./assets/imagenes/juegos_nintendo/nintendo_ds/caratula-mario-y-luigi-bowser.png">      
          </a>

        </div>

        <div class="container__descripcion">
          
          <a href="#">

            Mario Y Luigi Bowser Inside Story [NDS] [MULTI] [TORRENT]

          </a>

          <div class="container__calendario">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            15 May / <a href="#">1 comentario</a>

          </div>
      
        </div>

      </td>
    </tr>
  </table>

  <br><br>

  <div class="container__titulos">

    <p class="titulos_juegos">NINTENDO SWITCH</p>
    
  </div>

  <!-- Tabla de los juegos de Nintendo Switch  -->
  <table class="table__games">
    <tr>
      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__switch__img" src="./assets/imagenes/juegos_nintendo/nintendo_switch/super_mario_odyssey.png">

          </a>

        </div>

        <div class="container__descripcion">
          
          <a href="#">

           Super Mario Odyssey [SWITCH] [MULTI] [MEGA]

          </a>

          <div class="container__calendario__switch">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            2 Feb / <a href="#">4 comentarios</a>

          </div>
      
        </div>
      
      </td>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__switch__img" src="./assets/imagenes/juegos_nintendo/nintendo_switch/zelda switch.jpg">
      
          </a>

        </div>

        <div class="container__descripcion">
          
          <a href="#">

           The Legend Of Zelda Breath of The Wild [SWITCH] [MULTI] [TORRENT]

          </a>

          <div class="container__calendario__switch__3">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            13 Dic / <a href="#">4 comentarios</a>

          </div>
      
        </div>
      
      </td>
        
    </tr>

    <tr>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__switch__img" src="./assets/imagenes/juegos_nintendo/nintendo_switch/zelda_skyward-sword.jpg">
   
          </a>

        </div>

        <div class="container__descripcion">
          
          <a href="#">

           The Legend Of Zelda Skyward Sword HD [SWITCH] [MULTI] [MEGA]

          </a>

          <div class="container__calendario__switch__3">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            17 Ago / <a href="#">2 comentarios</a>

          </div>
      
        </div>
      
      </td>

      <td>

        <div class="container__imagenes">

          <a href="#">

            <img class="container__switch__img" src="./assets/imagenes/juegos_nintendo/nintendo_switch/luigis-mansion-3.jpg">
    
          </a>

        </div>

        <div class="container__descripcion">
          
          <a href="#">

           Luigi's Mansion 3 [SWITCH] [ESPAÑOL] [TORRENT]

          </a>

          <div class="container__calendario__switch">

            <img class="container__calendario__img" src="./assets/fondo/fecha-limite.png">

            14 May / <a href="#">2 comentarios</a>

          </div>
      
        </div>
      
      </td>

    </tr>
  </table>

</div>

</body>
</html>