*{
    margin: 0px;
    padding: 0px;

}

body{
    margin: auto;
    background: url("../../assets/fondo/shadow.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container-body{
    max-width: 90%;
    background: #232323;
    margin: auto;
    box-shadow: 0px 4px 14px 5px #000000;
    margin-top: 20px;
}

.container-slider{
    width: 90%;

    box-shadow: 0 0 0 10px #fff
                0 15px 50px;
                  
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 20px 0px;
}

.form__search{
    position: relative;
    width: content;
    display: block;
    padding: 15px;
    border: 1px solid black;
    margin-right: 70px;
    float: right;
}

.form-group{
    padding: 10px;
    transition: all .9s ease;
}

.form-input:hover{
    transform: translateX(.5em);
}

.form-select{
    cursor: pointer;
}

.slider{
    display: flex;
    margin-left: 10%;
}

.slider__section{
    padding: 10px;
    width: 220px;
    height: auto;
    transition: all .9s ease;
}

.slider__section:hover{
    transform: scale(1.09);
}

.slider__img{
    border-radius:5px;
    border: 1px solid #999;
    width:200px;
    height:200px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    z-index: 10; 
}

.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translateY(-110%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
    transition: all .3s ease-in-out;
    top: 44%;
}

/*.slider__btn:hover{
    border: 1px solid white;
    transform: scale(1.05);
    top: 36%;
}*/

.slider__btn--left{
    left: 11%;
    margin: auto;
    text-align: center;
}

.slider__btn--right{
    right: 11%;
    text-align: center;
    margin: auto;
}


.table__games td{
    position: relative;
    width: 50%;
}

.ultimos__agregados{
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    display: inline-block;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

.container_titulos{
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    width: 400px;
}

.titulos_juegos{
    font-size: 1.8em;
    font-weight: bold;
    margin-left: 40px;
    color: #fff;
    text-shadow: 0 0 5px #FFF, 0 0 5px #FFF, 0 0 7px #FFF, 0 0 10px #2414b4, 0 0 15px #183bff, 0 0 20px #110fa7, 0 0 27px #0b0d8f, 0 0 33px #0c0f9c;
}

.fondo_imagen_titulos{
    width: 1.8em;
    height: auto;
    position: absolute;
}

.container__imagenes{
    width: 150px;
    height: auto;
    margin: 10px;
    float: left;  
}

.container__calendario{
    color: #fff;
    font-size: .7em;
    position: relative; 
    margin-top: 12%;
    margin-left: 36%;
}

.container__calendario__2{
    color: #fff;
    font-size: .7em;
    position: relative; 
    margin-top: 19%;
    margin-left: 36%;

}

.container__calendario__ps2{
    color: #fff;
    font-size: .7em;
    position: relative; 
    margin-top: 30%;
    margin-left: 36%;

}

.container__calendario__switch{
    color: #fff;
    font-size: .7em;
    position: relative; 
    margin-top: 37%;
    margin-left: 36%;
}

.container__calendario__switch__3{
    color: #fff;
    font-size: .7em;
    position: relative; 
    margin-top: 32%;
    margin-left: 36%;
}

.container__calendario__img{
    width: 5%;
    height: auto;
}

.container__playstation__img{
    border: 1px solid #999;
    width:150px;
    height:150px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    transition: all .3s ease-in-out;
}

.container__playstation__img:hover{

    border: 1px solid black;
    transform: scale(1.03);
}

.container__playstation__2__img{
    border: 1px solid #999;
    width:150px;
    height:200px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    transition: all .3s ease-in-out;
}  

.container__playstation__2__img:hover{

    border: 1px solid black;
    transform: scale(1.03);
}

.container__descripcion{
    margin: 15px 10px;
    max-width: 400px;
}

.container__descripcion a{
    text-decoration: none;
    color: #fff; 
    position: relative;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;  
}

.container__descripcion a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px #FFF, 0 0 5px #FFF, 0 0 7px #FFF, 0 0 10px #b41414, 0 0 15px #c41414, 0 0 20px #ce1919, 0 0 27px #8f0b0b, 0 0 33px #c71d11;
}


.container__switch__img{
    border: 1px solid #999;
    width:150px;
    height:230px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    transition: all .3s ease-in-out;
    
}

.container__switch__img:hover{

    border: 1px solid black;
    transform: scale(1.03);
}

.table__games{
    border: 1px solid #fff;
    margin-left: 40px;
    display: inline-block;
    width: 70%;
    
}



